.slider .slick-list .slick-slide div {
    text-align: -webkit-center;
    text-align: -moz-center;
}

.slider .slick-prev:before {
    color: #000000;
}

.slider .slick-next:before {
    color: #000000;
}